@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-sm:.7rem;
  --font-m:.9rem;
  --font-lg:1.5rem;
  --font-xl:2rem;
  --border-radius:5px;
  --box-shadow:rgba(246, 246, 251, 0.887) 0px 4px 1px 0px;
  --linear-gradient: rgba(28, 27, 29, 0.9);
  --main-color:#5C1E3F;
  --secondary-color:#585858;
}

body{
  color: var(--main-color);
  text-transform: uppercase;
  background-color: #000;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activities{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}