.header_container {
    width: 100%;
    height: 12vh;
    display: flex;
    color: white;
    background: var(--main-bg-color);
  }

  .language{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .header_container{
      background-color:#000;
    }
    .clock,
    .weather {
      display: none;
    }

    .language{
      display: block;
      position: absolute;
      right: 0;
      top: 4vh;
    }
  }
  